@import './main.scss';

.product-section {
  margin: 30px 20px;
  text-align: center;
}

.section-title {
  font-size: 28px;
  font-weight: bold;
  color: $red;
  margin-bottom: 10px;
}

.topics-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-right: 50px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(4, 1fr); // 4 itens por linha em tablets
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(3, 1fr); // 3 itens por linha em dispositivos móveis
      margin-left: 20px;
      margin-right: 20px;
    }

    @media (max-width: 480px) {
      grid-template-columns: repeat(2, 1fr); // 2 itens por linha em dispositivos muito pequenos
    }
}

.topic-item {
  background-color: transparent;
  padding: 5px 10px;
  border: 1px solid $border;
  font-size: 16px;
  color: $text3;
  cursor: pointer;
  transition: color 0.3s ease;

  @media (max-width: 768px) {
    font-size: 14px; // Reduz o tamanho da fonte em dispositivos móveis
  }

  &:hover, &.active {
    color: $red;
  }
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 40px;
  border-radius: 10px;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: calc(100% - 220px);

  @media (max-width: 768px) {
    width: 100%; // Ocupa toda a largura em dispositivos móveis
  }
}

.product-list {
  display: flex;
  transition: transform 0.5s ease;
}

.product-item {
  background: $white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding: 10px;
  text-align: left;
  width: 220px;
  margin: 0 15px;
  flex-shrink: 0;

  @media (max-width: 768px) {
    width: 180px; // Reduz a largura dos itens em dispositivos móveis
    margin: 0 10px; // Reduz as margens laterais
  }

  @media (max-width: 480px) {
    width: 150px; // Reduz ainda mais a largura em dispositivos muito pequenos
    margin: 0 5px; // Reduz ainda mais as margens laterais
  }
}

// ... (resto do código permanece o mesmo)

.prev-button, .next-button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-size: 0;
  line-height: 0;

  @media (max-width: 768px) {
    width: 25px; // Reduz o tamanho dos botões em dispositivos móveis
    height: 25px;
  }
}

.prev-button {
  left: 5px;
  background-image: url('../assets/5-seta-esquerda.svg');
}

.next-button {
  right: 5px;
  background-image: url('../assets/5-seta-direita.svg');
}